/* common */
:root {
  --background: #fff;
  --text: #676767;
  --mark: #e91e63;
  --background_2: #000;
  --background_3: #f1f1f1;
}
a:hover {
  text-decoration: none;
}

.section_title {
  font-size: 30px;
  color: #333;
  line-height: 52px;
  font-weight: 700;
  padding-bottom: 15px;

  text-align: center;
  position: relative;
}
.section_title::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 70px;
  margin-left: -90px;
  bottom: 40px;
  background-color: #e91e63;
}
.section_title::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 70px;
  margin-left: 20px;
  bottom: 40px;
  background-color: #e91e63;
}

/* topbar */
.topbar {
  background: var(--background_2);
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
  .topbar {
    display: none;
  }
}

/* top contact */
.top_contact {
  display: flex;
  padding: 5px;
  margin: 0px;
  padding: 0px;
  font-family: open sans, sans-serif;
  color: var(--background);
}
.top_contact li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  list-style: none;
}

/* top right */
.top-right {
  display: flex;
  flex-direction: row-reverse;
}

/* social icon */
.social_icon {
  display: flex;
  padding: 5px;
  margin: 0px;
  padding: 0px;
  font-family: open sans, sans-serif;
  color: var(--background);
}
.social_icon li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  list-style: none;
}

/* Menu */
nav {
  padding: 15px 0px;
  position: sticky;
  top: -1px;
  background: var(--background);
  box-shadow: 0px -12.5px 18px;
  z-index: 5;
}
.navbar {
  padding: 0px;
}
.logo {
  flex-basis: 10%;
}

/* menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  .menu {
    margin-top: 15px;
  }
}
.menu li {
  list-style: none;
}
.menu li a {
  font-size: 14px;
  color: var(--text);
  padding: 10px 17px;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 35px;
  background: 0 0;
  font-weight: 400;
  transition: 0.1s;
}
.menu li a:hover {
  text-decoration: none;
  color: var(--mark);
}

.menu li .active {
  background: var(--mark);
  color: var(--background);
}
.menu li .active:hover {
  color: var(--background);
}

/* Account */

.account a {
  font-size: 14px;
  color: var(--background);
  padding: 10px 17px;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 35px;
  background: 0 0;
  font-weight: 400;
  transition: 0.5s;
  background: var(--mark);
}
@media only screen and (max-width: 768px) {
  .account {
    position: absolute;
    top: 5px;
    right: 0px;
  }
}

/* Home */
#home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(../images/c2.jpg);
  width: 100%;
  min-height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
#home h2 {
  color: var(--background);
  font-size: 2.2rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
}
#home p {
  color: var(--background);
  width: 50%;
  font-size: 0.9rem;
  line-height: 25px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  #home p {
    width: 90%;
  }
}

#home a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 28px;
  background-color: var(--background);
  font-weight: 600;
  border-radius: 5px;
}
#home a:first-child {
  color: var(--background);
  background: var(--mark);
}
#home a:first-child:hover {
  background: var(--background_2);
}
#home a:last-child {
  color: var(--background);
  background: var(--background_2);
}
#home a:last-child:hover {
  color: var(--background);
  background: var(--mark);
}

/* Feature */
#feature {
  margin-top: 20px;
}
#feature .fea-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  font-family: Barlow, "baloo da 2", sans-serif;
  border: 1px solid var(--background_3);
  margin-bottom: 30px;
  transition: 0.5s;
}
#feature .fea-box:hover {
  border: 1px solid var(--mark);
}
#feature .fea-box i {
  font-size: 2.3rem;

  padding: 14px;
  background: rgb(233 30 99 / 11%);
  border-radius: 50%;
  color: var(--mark);
}
#feature .fea-box h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--background_2);
  padding: 13px 0 7px 0;
  margin-bottom: 0.5rem;
}
#feature .fea-box p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--text);
}

/* Courses */
#course {
  background: var(--background_3);
  padding-top: 20px;
  text-align: center;
}
.course_box {
  text-align: start;
  background: var(--background);
  margin-bottom: 30px;
  transition: 0.2s;
}
.course_box:hover {
  box-shadow: 0 13px 21px rgb(0 0 0 / 13%);
  margin-top: -5px;
}
.course_box a {
  color: var(--background_2);
}
.course_box a:hover {
  text-decoration: none;
}
.course_box img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}
.course_box .details {
  padding: 15px;
  position: relative;
}
.course_box .details > span {
  font-size: 0.7rem;
}

.course_box .details h6 {
  font-weight: 700;
}
.course_box .details i {
  color: var(--mark);
  font-size: 0.9rem;
}
.course_box .cost {
  background: var(--mark);
  color: var(--background);
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: -33px;
}

/* Expert */
#expert {
  padding-top: 20px;
  margin-bottom: 20px;
}
#expert .profile {
  text-align: center;
}
#expert .profile h6 {
  color: var(--background_2);
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-top: 5px;
}

#expert .profile i {
  padding: 10px;
  border: 1px solid var(--background_3);
  color: var(--text);
  border-radius: 3px;
  transform: 0.2s;
}
#expert .profile i:hover {
  background: var(--mark);
  color: var(--background);
}

/* footer */

footer {
  background: var(--background_2);
  color: var(--text);
  padding: 40px 0px;
}

.footer_about img {
  margin-bottom: 20px;
}
.footer_about p {
  font-weight: 600;
  margin-bottom: 20px;
}
.footer_social ul {
  padding-left: 0px;
}

.footer_social ul li {
  list-style: none;
  display: inline-block;
  margin: 3px;
}
.footer_social ul li a {
  padding: 7px;
  background: var(--mark);
  color: var(--background);
  border-radius: 3px;
}
footer h3 {
  font-size: 1.2rem;
  color: var(--background);
  margin-bottom: 20px;
}

.footer ul li a {
  color: var(--text);
  font-weight: 700;
}
.footer_link {
  list-style: none;
  padding-left: 0px;
}
.footer_link li {
  margin-bottom: 7px;
}
.footer_link a {
  color: var(--text);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 20px;
  transition: 0.2s;
}
.footer_link a:hover {
  text-decoration: none;
  color: var(--mark);
}

/* ========================================= */

.pages_home {
}

#pages_home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(../images/c2.jpg);
  width: 100%;
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
#pages_home h2 {
  color: var(--background);
  font-size: 2.2rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
}

/* ==================Chourse Details page============ */
#course_inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
}

#course_inner .overview .course_image {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 20px;
}

#course_inner .overview .course_head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.c_name {
  width: 85%;
}

#course_inner .overview .course_head h2 {
  color: var(--background_2);
  font-size: 1.5rem;
  font-weight: 600;
}
#course_inner .overview .course_head .star {
  margin: 6px 0;
}
.c_name .star i {
  color: var(--mark);
}
.overview p {
  font-size: 15px;
  font-weight: 500;
  color: var(--text);
}
.course_head span {
  padding: 7px 20px;
  color: var(--background);
  background: var(--mark);
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
}

.overview h4 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--background_2);
  margin-bottom: 20px;
  margin-top: 20px;
}
.overview .tutor {
  display: flex;
  align-items: center;
}

.overview .tutor img {
  width: 100px;
  padding-right: 20px;
}
.overview .tutor h5 {
  font-size: 1.1rem;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}
.learn p {
  font-size: 15px;
  padding-bottom: 15px;
}
.learn p i {
  color: var(--mark);
  font-weight: 700;
  margin-right: 20px;
}

.enroll {
  width: 100%;
  padding: 30px 30px 30px 30px;
  border-radius: 11px;
  box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 11%);
}
.enroll h3 {
  padding-bottom: 10px;
}
.enroll p {
  font-size: 15px;
  color: var(--text);
  margin: 15px 0;
}
.enroll i {
  color: var(--mark);
  font-weight: 500;
  margin-right: 18px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
.enroll_btn {
  padding: 25px 0 20px 0;
  margin: auto;
  text-align: center;
}
.enroll_btn button {
  font-size: 0.8rem;
  padding: 13px 45px;
  border-radius: 5px;
  font-weight: 600;
  color: var(--background);
  background: var(--mark);
  border: none;
}

/* =================Contact Page ============= */
#contact {
  padding: 8vh 0px;
}
#contact .getin h2 {
  color: var(--background_2);
  font-size: 30px;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 16px;
}

#contact .getin p {
  color: var(--text);
  line-height: 24px;
  margin-bottom: 33px;
  padding-bottom: 25px;
}

#contact .getin h3 {
  color: var(--text);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 15px;
}

.getin_details > div {
  display: flex;
}
.getin_details div .get {
  font-size: 16px;
  line-height: 22px;
  color: var(--mark);
  margin-right: 20px;
}
.getin_details div p {
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;
}
.pro_links i {
  padding: 7px 10px;
  border: 1px solid var(--text);
  margin: 2px;
  border-radius: 2px;
}

.form {
  width: 100%;
  background: var(--background_3);
  padding: 40px;
  border-radius: 10px;
}

.form h4 {
  font-size: 24px;
  color: var(--background_2);
  line-height: 30px;
  margin-bottom: 8px;
}

.form p {
  color: var(--text);
  line-height: 24px;
  padding-bottom: 25px;
}
.form .form_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form .form_row input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: var(--background);
  color: var(--text);
  padding: 20px 30px;
  margin-bottom: 20px;
  border: none;
}

.form .form_col input,
.form .form_col textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: var(--background);
  color: var(--text);
  padding: 20px 30px;
  margin-bottom: 20px;
  border: none;
}
.form button {
  font-size: 0.9rem;
  padding: 10px 25px;
  background: var(--mark);
  border: none;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  color: var(--background);
}
.form input:focus,
.form textarea:focus {
  border: 1px solid var(--mark);
}

/* ===============blogs page=========== */

.blogs {
  display: flex;
  align-items: center;
  flex-basis: 400px;
  flex-wrap: wrap;
  margin: 50px 0px;
}
.blogs img,
.blogs div {
  width: 300px;
  padding: 0px 5px;
  border-radius: 3px;
  flex-grow: 1;
  text-align: left;
}

.blogs h4 {
  color: var(--background_2);
  font-weight: 700;
  font-size: 1.3rem;
}
.blogs span {
  font-size: 0.8rem;
  color: var(--text);
}
.blogs p {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--text);
}

.blogs a {
  background: var(--mark);
  color: var(--background);
  font-size: 1.1rem;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.category_section {
  margin-top: 50px;
}

.category_section h4 {
  color: var(--background_2);
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0px;
}

.category_section ul {
  list-style: none;
  margin: -20px 0px;
  /* padding: 10px 0px; */
  padding: 0px;
}
.category_section ul li {
  padding: 7px 0px;
  border-top: 2px solid var(--text);
}
.category_section ul li:first-child {
  border: none;
}
.category_section ul li a {
  color: var(--text);
  font-size: 1.05rem;
  font-weight: 500;
}
.category_section ul li a:hover {
  text-decoration: none;
  color: var(--mark);
}

.single_blog {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}
.single_blog > img {
  border-radius: 5px;
  width: 100%;
}

.single_blog span {
  font-size: 0.8rem;
  color: var(--text);
}
.single_blog h4 {
  color: var(--background_2);
  font-weight: 700;
  font-size: 1.3rem;
}
.single_blog p {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--text);
}

.single_blog a {
  background: var(--mark);
  color: var(--background);
  font-size: 1.1rem;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}
